* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titulo {
  display: flex;
  justify-content: center;
}
.titulo h1 {
  font-size: 110px;
}
.main {
  display: flex;
  justify-content: center;

  margin-top: 100px;
}
.cards-container {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.card {
  border: 2px solid #fff;
  margin: 14px;
}
